.App {
  height: 100vh;
}

body {
  display: block;
  margin: 0;
  padding: 0;
  height: 100vh;
  background-image: url(http://bobs-burgers-api-ui.herokuapp.com/static/media/banner.1f37b76e95e52551152b.png);
  background-size: cover !important;
  background-repeat: no-repeat;
  font-family: 'Press Start 2P', cursive;
}

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');